body {
    padding-top: 80px;
}

.navbar-custom .navbar-brand {
    font-size: 50px;
    color: #7fff00;
}

.navbar-custom .navlink {
    color: #7fff00;
}

.nav-link-custom {
    display: left;
    justify-content: left;
    align-items: right;
    text-align: left;
    min-width: 150px; /* Sie können diese Breite anpassen, um zu Ihren Bedürfnissen zu passen */
}


/* Spezifischere Selektoren für die Tab-Indikatorlinie */
.custom-tabs .nav-tabs {
    border-bottom: 2px solid #7fff00 !important; /* Überschreibt die Standard-Bootstrap-Farbe */
}

.custom-tab {
    border-bottom: 2px solid #7fff00 !important;
}

/* pedo_1_slider */
.slider {
    height: 24px;
    background: #ffffff;
    border-radius: 5px;
}

.slider .rc-slider-track {
    background-color: #90caf9; /* Blauer Fortschrittsbalken */
}

.slider .rc-slider-handle {
    border: solid 2px #1976d2; /* Blaue Griffe */
}

.slider .rc-slider-handle:active {
    box-shadow: none; /* Kein Schatten beim Klicken */
}

.slider .rc-slider-mark-text {
    font-size: 10px; /* Kleinere Textgröße für Markierungstexte */
    padding-top: 10px; /* Abstand nach oben für Text */
}
